
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://external-preview.redd.it/4nl9-Hyi6ai3pDjX-pn48xTCeePMOTvY2Uzc_2vnauI.png?format=pjpg&auto=webp&s=42d61bacd7ed296e812259bdc54318ca85561512");
}

